@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Merienda:wght@300..900&family=Noto+Serif+Thai:wght@100..900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #fff7f7;
  --red:#FC0015;
  --heading:#5C4033;
  --highlight:#58191E;
  --clean:#FFFFFF;
  --link:#B03060 ;
  --paragraph:#6E4B3A;
  --font-nota: 'Noto Serif';
  --font-popin: 'Poppins', sans-serif;

}

@theme  {
  --color-redclr:var(--red);
  --color-background: var(--background);
  --color-heading: var(--heading);
  --color-highlight: var(--highlight);
  --color-clean: var(--clean);
  --color-link: var(--link);
  --color-paragraph: var(--paragraph);
  --color-background: var(--background);
  --font-popin: var(--font-popin);
  --font-mono: var(--font-geist-mono);
  --font-nota: var(--font-nota);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #fcefe5;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  cursor:"pointer";
}